{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-2 pb-0"><span>8<sup>ème</sup> Sommet Ouest Africain</span></h1>
            <img src="{{ asset('img/logo.jpeg') }}" alt="" class="avatar avatar-big mb-2">

            <h3 class="mb-4 pb-0" style="background-color: #ed4b91; font-weight: bold;">Thème : La confiance : Une dymanique de la vie au quotidien</h3>

            <a href="{{ path('registration') }}" class="about-btn scrollto">S'inscrire</a>
        </div>
    </section>

    <main id="main">
        <section id="about">
            <div class="container">
                {% if abouts is defined %}
                <div class="row">
                    {% for about in abouts %}
                    <div class="col-lg-6">
                        <h2>{{ about.title }}</h2>
                        <p class="p-3">{{ about.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="faq" class="wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>F.A.Q </h2>
                </div>

                <div class="row justify-content-center">
                    {% if faqs is defined %}
                    <div class="col-lg-9">
                        <ul id="faq-list">
                            {% for faq in faqs %}
                            <li>
                                <a data-toggle="collapse" class="collapsed" href="#faq{{ faq.id }}">{{ faq.question }}<i class="fa fa-minus-circle"></i></a>
                                <div id="faq{{ faq.id }}" class="collapse" data-parent="#faq-list">
                                    <p>
                                        {{ faq.answer }}
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>

            </div>

        </section>
        <section id="subscribe">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>Pour Dieu et la Patrie</h2>
                    <p>Le rendez vous est dans :</p>
                </div>
                <div class="simply-countdown simply-countdown-one" style="text-align: center;"></div>
            </div>
        </section>
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">
                {% if days is defined %}
                <div class="section-header">
                    <h2>Event Schedule</h2>
                    <p>Here is our event schedule</p>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    {% for day in days %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.index == 1 %}active{% endif %}" href="#day-{{ day.id }}" role="tab" data-toggle="tab">{{ day.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius
                    necessitatibus voluptatem quis labore perspiciatis quia.</h3>

                <div class="tab-content row justify-content-center">
                    {% for day in days %}

                    <!-- Schedule Day 1 -->
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show {% if loop.index == 1 %}active{% endif %}" id="day-{{ day.id }}">
                        {% for dayEvent in day.dayEvents %}
                        <div class="row schedule-item">
                            <div class="col-md-2"><time>{{ dayEvent.hour | date('H:i:s') }}</time></div>
                            <div class="col-md-10">
                                <h4>{{ dayEvent.title }}</h4>
                                {% if dayEvent.speaker is not null %}
                                <p>{{ dayEvent.speaker }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- End Schdule Day 1 -->

                    {% endfor %}


                </div>
                {% endif %}
            </div>

        </section>

        <section id="buy-tickets" class="section-with-bg wow fadeInUp">
            <div class="container">

                <div class="section-header">
                    <h2>Participation</h2>
                    <p>Velit consequatur consequatur inventore iste fugit unde omnis eum aut.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Standard Access</h5>
                                <h6 class="card-price text-center">$65</h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li>
                                        Les frais de participation à la rencontre. Payable auprès de votre commanderie.
                                    </li>
                                </ul>
                                {% if app.user %}
                                    <hr>
                                    <div class="text-center">
                                        <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="premium-access">Buy Now</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if hotels is defined %}
                        {% for hotel in hotels %}
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">{{ hotel.name}}</h5>
                                    <h6 class="card-price text-center">${{ hotel.price | number_format }}</h6>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li>{{ hotel.introduction }}</li>
                                        <li>{% include 'partials/ratings.html.twig' with {'rating': hotel.rating} %}</li>
                                    </ul>
                                    {% if app.user %}
                                        <hr>
                                        <div class="text-center">
                                            <a type="button" class="btn" href="{{ path('account_booking') }}">Réserver</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                </div>

            </div>

        </section>

        <section id="gallery" class="wow fadeInUp">

            <div class="container">
                <div class="section-header">
                    <h2>Gallerie</h2>
                    <p>Quelques images de l'ordre au togo et en Afrique</p>
                </div>
            </div>

            <div class="owl-carousel gallery-carousel">
                <a href="{{ asset('test/img/gallery/1.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/1.jpg') }}" alt=""></a>
                <a href="{{ asset('test/img/gallery/2.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/2.jpg') }}" alt=""></a>
                <a href="{{ asset('test/img/gallery/3.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/3.jpg') }}" alt=""></a>
                <a href="{{ asset('test/img/gallery/4.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/4.jpg') }}" alt=""></a>
                <a href="{{ asset('test/img/gallery/5.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/5.jpg') }}" alt=""></a>
                <a href="{{ asset('test/img/gallery/6.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/6.jpg') }}" alt=""></a>
                <a href="{{ asset('test/img/gallery/7.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/7.jpg') }}" alt=""></a>
                <a href="{{ asset('test/img/gallery/8.jpg') }}" class="venobox" data-gall="gallery-carousel"><img src="{{ asset('test/img/gallery/8.jpg') }}" alt=""></a>
            </div>

        </section>

        <!--==========================
          Sponsors Section
        ============================-->
        {#<section id="supporters" class="section-with-bg wow fadeInUp">

            <div class="container">
                <div class="section-header">
                    <h2>Sponsors</h2>
                </div>

                <div class="row no-gutters supporters-wrap clearfix">

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/1.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/2.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/3.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/4.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/5.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/6.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/7.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{ asset('test/img/supporters/8.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>

            </div>

        </section>#}

        <!--==========================
          Subscribe Section
        ============================-->
        {#<section id="subscribe">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>Newsletter</h2>
                    <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
                </div>

                <form method="POST" action="#">
                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your Email">
                        </div>
                        <div class="col-auto">
                            <button type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>

            </div>
        </section>#}
        <section id="contact" class="section-bg wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>Nous contacter</h2>
                    <p>Vpus voulez plus d'informations? Ecrivez nous directement !</p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Adresse </h3>
                            <address>Lomé, Togo - Doumasséssé - Tokoin Kisito, non loin de l'église catholique</address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Téléphone</h3>
                            <p><a href="tel:+22899999999">(+228) 99 99 99 99 </a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:info@example.com">info@example.com</a></p>
                        </div>
                    </div>

                </div>

                <div class="form">
                    <div id="sendmessage">Votre message, s'il vous plait</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Envoyer le message</button></div>
                    </form>
                </div>

            </div>
        </section><!-- #contact -->

    </main>
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('test/css/customed.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.countTo.js') }}"></script>
    <script src="{{ asset('js/simplyCountdown.js') }}"></script>
    <script>
        var d = new Date(new Date('2021-05-06T08:00:00') + 200 * 120 * 120 * 2000);

        // default example
        simplyCountdown('.simply-countdown-one', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate()
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
        });
    </script>
{% endblock %}