{% extends 'base.html.twig' %}

{% block title %}Les réservations{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des réservations
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Pays</th>
                            <th>Participant</th>
                            <th>Hotel</th>
                            <th>Montant</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if bookings %}
                            {% for booking in bookings %}
                                <tr>
                                    <td width="75px">{{ loop.index0 + 1  }}</td>
                                    <td>{{ booking.booker.fullName }}</td>
                                    <td>{{ booking.booker.country.name }}</td>
                                    <td>{{ booking.hotel.name }} | {% include 'partials/ratings.html.twig' with {'rating': hotel.rating} %}</td>
                                    <td>{{ booking.amount }}</td>
                                    <td class="left" width="150px">
                                        <a href="{{ path('admin_booking_delete', {id : booking.id} ) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">Aucune donnée dans la base .</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
