<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ title }}  {% if day is defined %} : {{ day.title }} {% endif %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_start(form) }}
                            {{ form_row(form.title) }}
                            {{ form_row(form.scheduleAt) }}

                            <button type="submit" class="btn btn-success">Valider</button>
                            <button type="reset" class="btn btn-default">Annuler</button>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>